<section>
    <div class="container row section-port">
        <ul class="card-set nul">
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="../../img/serviseBeton.jpg"
                        alt="concrete work " width="360" height="300">
                    <div class="overlay">
                        <p>Опис робіт</p>
                    </div>
                </div>
                <div class="section-border">
                    <a class="" href="">
                        <h2 class="section-title">Залізобетонні роботи</h2>
                        <p class="section-title-p">Детальніше</p>
                    </a>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">

                    <img class="img-margin" src="../../img/servicessecond.jpg"
                        alt="....." width="360" height="300">
                    <div class="overlay">
                        <p>Опис робіт</p>
                    </div>
                </div>
                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Монтаж металоконструкцій</h2>
                        <p class="section-title-p">Детальніше</p>
                    </a>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./images/portfolio/card3r1.jpg" alt="....." width="360"
                        height="300">
                    <div class="overlay">
                        <p>Опис робіт<code>div.box</code></p>
                    </div>
                </div>
                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Монтування сендвіч панелей</h2>
                        <p class="section-title-p">Детальніше</p>
                    </a>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">

                    <img class="img-margin" src=""
                        alt="....." width="360" height="300">
                    <div class="overlay">
                        <p>Опис робіт</p>
                    </div>
                </div>

                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Промислове будівництво</h2>
                        <p class="section-title-p">Детальніше</p>
                    </a>
                </div>

            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./images/portfolio/card2r2.jpg"
                        alt="....." width="360" height="300">
                    <div class="overlay">
                        <p>Опис робіт<code>div.box</code></p>
                    </div>
                </div>
                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Комерційне будівництво</h2>
                        <p class="section-title-p">Детальніше</p>
                    </a>
                </div>
            </li>
           
        </ul>
    </div>
</section>