<footer class="footer">
    <!-- <div class="container"> -->
    <!-- <ul class="footer-wraper"> -->
    <!-- <div class=""> -->
        <!-- <li class="white-one"> -->
        <!-- <div class="footer"> -->
            <a href="index.html" class="header-logo logo"><img src="./img/logocity.png" width="90" height="60"></a>
            <p>©2024 CityPromBud. All rights reserved.</p>
            <!-- <p class="footer-text">+11 (000) 111-11-11</p> -->
            <ul class="header-cont">
                <li><a href="mailto:sityprombud@gmail.com" class="link-contacts">sityprombud@gmail.com</a></li>
                <li><a href="tel:+380969745787" class="link-contacts">+38-096-974-57-87</a></li>
            </ul>
        <!-- </div> -->
        <!-- </li> -->
    <!-- </div> -->
</footer>