<header class="header">
  <!-- <header class="header container"> -->
  <nav class="nav">

    <a href="index.html" class="nav-logo"><img src="./img/logocity.png" width="90" height="60"></a>

    <ul class="nav-list">
      <li><a href="./services.html" class="nav-link current">Послуги</a>
      </li>
      <li><a href="./connection.html" class="nav-link current">Зв'язатися з нами</a>
      </li>
      <li><a href="./aboutus.html" class="nav-link current">Про нас</a>
      </li>
    </ul>

    <ul class="header-cont">
      <li><a href="mailto:info@cityprombud.com" class="link-contacts">info@cityprombud.com</a></li>
      <li><a href="tel:+110001111111" class="link-contacts">+11 (000) 111-11-11</a></li>
    </ul>

  </nav>
</header>