<header class="header container">
  <nav class="nav">

    <div class="header-logo-container">
      <a href="index.html" class="header-logo logo"><img src="../img/logo city 4.png" width="90" height="60" ></a>
    </div>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="./services.html" class="nav-link current">Послуги</a>
      </li>
      <li class="nav-item">
        <a href="./connection.html" class="nav-link current">Зв'язатися з нами</a>
      </li>
      <li class="nav-item">
        <a href="./aboutus.html" class="nav-link current">Про нас</a>
      </li>
    </ul>

    <ul class="header-cont">
      <li><a href="mailto:info@cityprombud.com" class="link-contacts">info@cityprombud.com</a></li>
      <li><a href="tel:+110001111111" class="link-contacts">+11 (000) 111-11-11</a></li>
  </ul>

  </nav>


  <!-- <nav class="header-nav">
    <ul class="header-list">
      <li class="list">
        <a class="nav-item link" href="index.html">home</a>
      </li>
      <li class="list">
        <a class="nav-item link current" href="hotel.html">hotel</a>
      </li>
      <li class="list">
        <a class="nav-item link" href="restaurant.html">restaurant</a>
      </li>
    </ul> -->
</nav>
</header>
