<section>
    <!-- <div class="container row section-port connectus-add-class"> -->
    <div class="container connectus-add-class">

        <div>
            <h2 class="text-center">МИ ЗБУДУЄМО БУДІВНИЧИЙ ОБ'ЄКТ ПІД БУДЬ-ЯКЕ ВИРОБНИЦТВО</h2>
            <p class="info-text add-padding">Гарантуємо, що наші конструкції будуть служити довго та надійно. Докладніше про те, як ми зводимо виробничі будівлі та споруди, пропонуємо розглянути нижче.</p>
        </div>

        <div>
            <ul  class="connect-us-first">

                <li class="connect-us-board">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                        <g id="_23_check-circle-broken" data-name="23 check-circle-broken">
                            <path
                                d="M15.28,20.58A2,2,0,0,1,13.86,20L10,16.14l1.41-1.42,3.86,3.86,12-12.28,1.42,1.4L16.71,20a2,2,0,0,1-1.42.6Z" />
                            <path
                                d="M16,28A12,12,0,1,1,22.86,6.15L21.71,7.79a10,10,0,1,0,4,5.71l1.94-.5A12,12,0,0,1,16,28Z" />
                        </g>
                    </svg> -->
                    <img class="connectus-svg" src="./img/circle_check.svg" width="80" height="80">
                    <h2 class="connectus-h">КОНКУРЕНТНІ ЦІНИ</h2>
                    <p class="info-text">Наші ціни - це найкраще співвідношення ціни та якості на ринку.</p>
                </li>
                <li class="connect-us-board">
                    <img class="connectus-svg" src="./img/circle_check.svg" width="80" height="80">
                    <h2 class="connectus-h">ВРАХОВУЄМО ВАШІ ПОТРЕБИ</h2>
                    <p class="info-text">Ми будемо працювати з вами індивідуально, щоб створити будівничий об'єкт, який буде
                        ідеальним для вас.
                    </p>
                </li>
                <li class="connect-us-board">
                    <img class="connectus-svg" src="./img/circle_check.svg" width="80" height="80">
                    <h2 class="connectus-h">БУДЬ-ЯКІ ПЛОЩІ</h2>
                    <p class="info-text">Наші послуги доступні для клієнтів з будь-якими потребами в площі.</p>
                </li>
            </ul>
        </div>

        <ul class="card-set-example nul">
            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/dom.jpg"
                        alt="concrete work ">
                   
                </div>
                <div class="section-border">
                    <a class="" href="">
                        <h2 class="section-title">Назва роботи</h2>
                        <!-- <p class="section-title-p">Детальніше</p> -->
                    </a>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box-example">

                    <img class="img-margin" src="./img/examle/angar.jpg"
                        alt="....." >
                        <!-- width="360" height="300" -->
                   
                </div>
                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Назва роботи</h2>
                        <!-- <p class="section-title-p">Детальніше</p> -->
                    </a>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/kran.jpg" alt="....." width="360"
                        height="300">
                   
                </div>
                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Назва роботи</h2>
                        <!-- <p class="section-title-p">Детальніше</p> -->
                    </a>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box-example">

                    <img class="img-margin" src="./img/examle/sklad.jpg"
                        alt="....." width="360" height="300">
                   
                </div>

                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Назва роботи</h2>
                        <!-- <p class="section-title-p">Детальніше</p> -->
                    </a>
                </div>

            </li>
            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/skladsecond.jpg"
                        alt="....." width="360" height="300">
                   
                </div>
                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Назва роботи</h2>
                        <!-- <p class="section-title-p">Детальніше</p> -->
                    </a>
                </div>
            </li>

            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/smalldom.jpg"
                        alt="....." width="360" height="300">
                   
                </div>
                <div class="section-border">
                    <a href="" class="">
                        <h2 class="section-title">Назва роботи</h2>
                        <!-- <p class="section-title-p">Детальніше</p> -->
                    </a>
                </div>
            </li>
           
        </ul>
    </div>
</section>