.hero {
    /* min-width: 320px;
    max-width: 480px; */
    /* width: 428px; */
    /* min-height: 530px; */
    width: 100%;
    /* outline: 5px solid green; */
    background-color: var(--hero-title-bcg);
    text-align: center;
    padding: 112px 54px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.4)), url(../img/hero.jpg);
    /* background-image: url(../img/1645860975_5-kartinkin-net-p-stroitelnie-kartinki-5.jpg); */
    background-size: cover;
    background-position: center;
    /* background-size: 100%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
   
}

/* @media screen and (min-device-pixel-ratio: 2),
screen and (webkit-min-device-pixel-retio: 2),
screen and (o-min-device-pixel-retio: 2/1),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice_desk@2x.jpg);
    }
} */

/* 768px <= tablet screen <= infinity */
@media screen and (min-width: 768px) {
    .hero {
        /* min-width: 768px; */
        /* height: 436px; */
        /* width: 100%; */
        padding: 112px 136px;
        /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice_tab@1x.jpg); */
    }
}

/* @media screen and (min-device-pixel-ratio: 2),
screen and (webkit-min-device-pixel-retio: 2),
screen and (o-min-device-pixel-retio: 2/1),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice_tab@2x.jpg);
    }
} */

/* 1280px <= desktop screen <= infinity */
@media screen and (min-width: 1440px) {
    .hero {
        /* width: 1440px; */
        /* min-width: 1280px; */
        /* max-width: 1480px; */
        /* height: 500px; */
        /* width: 100%; */
        padding: 188px 200px;
        /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice_desk@1x.jpg); */
    }
}

/* @media screen and (min-device-pixel-ratio: 2),
screen and (webkit-min-device-pixel-retio: 2),
screen and (o-min-device-pixel-retio: 2/1),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice_desk@2x.jpg);
    }
} */

.hero-title {
    color: var(--text-white-color);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.26;
    text-align: center;
    /* width: 320px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 72px; */
}


/* 768px <= tablet screen <= infinity */
@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 48px;
        line-height: 1.07;
        /* width: 496px; */
        margin-bottom: 40px;
    }
}


/* 1280px <= desktop screen <= infinity */
@media screen and (min-width: 1440px) {
    .hero-title {
        /* width: 511px; */
        font-size: 56px;
        margin-bottom: 48px;
    }
}


.hero-button {
    background: var(--hero-bcg-button);
    color: var(--hero-title-button);
    /* width: 169px;
    height: 56px; */
    border-color: transparent;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;

    /* transition-property: all */
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}

.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: var(--hero-hover-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/***section different-us**/

.different-us {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /* justify-content: space-between; */
    /* position: relative; */
    /* margin-bottom: 100px; */
    /* max-width: 1480px; */
/* outline: 6px solid rgb(248, 11, 189); */
}
.reverse {
    flex-direction: column-reverse;
}

@media screen and (min-width: 1440px) {
    .different-us {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* position: relative; */
        margin-bottom: 100px;
        /* max-width: 1480px; */
    /* outline: 6px solid rgb(248, 11, 189); */
    }
}v


.different-us-div {
    display: flex;
    flex-direction: column;
    position: relative;
    /* min-width: 1350px; */
    /* margin-bottom: 100px; */
/* outline: 3px solid red; */
}

.different-us-title {
    /* position: absolute;
    top: 20px; */
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    /* outline: 3px solid rgb(243, 208, 11); */
}

@media screen and (min-width: 768px) {
.different-us-title {
    /* position: absolute;
    top: 20px; */
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* outline: 3px solid rgb(243, 208, 11); */
}
}



.different-us-text {
     /* position: absolute;
    top: 70px; 
 
    left: 115px; */
    /* width: 600px; */
    /* display: flex; */
    align-items: stretch;
    z-index: 2;
    background-color: #fff;
    /* align-self: left; */
    background: #fff;
    box-shadow: 0 15px 30px 5px rgba(0,0,0,.1);
    flex: 0 1 auto;
    /* margin-left: 20px;
    margin-right: 20px; */
    /* max-width: 580px; */
    /* min-height: 315px; */
    /* padding: 40px 50px; */
    /* width: 91.5237278445%; */

    font-weight: 400;
    font-size: 16px;
    line-height: 1.22;
    text-align: justify;
    /* outline: 3px solid rgb(67, 184, 219); */
}


@media screen and (min-width: 768px) {
    .different-us-text{
        /* position: absolute;
        top: 85px; 
        min-width: 600px;
        left: 55px; */
        /* display: flex; */
        align-items: stretch;
        /* z-index: 2; */
        background-color: #fff;
        /* align-self: left; */
        background: #fff;
        box-shadow: 0 15px 30px 5px rgba(0,0,0,.1);
        flex: 0 1 auto;
        margin-left: 20px;
        margin-top: 40px;
        /* max-width: 580px; */
        /* min-height: 315px; */
        padding: 20px 25px;
        /* width: 91.5237278445%; */
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.30;
        text-align: justify;
        /* outline: 3px solid rgb(67, 184, 219); */
    }
}

.different-us-img {
    margin-top: 40px;
    /* position: absolute;
    top: 20px;
    right: 0px;  */
/* margin-top: 50px;
margin-left: 50px; */
    /* outline: 3px solid rgb(23, 224, 16); */
}

@media screen and (min-width: 1440px) {
    .different-us-img {
        margin-top: 0px;
    }
}

.select-us-div {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    /* position: relative; */
    /* min-width: 1350px; */
    /* margin-bottom: 100px; */
/* outline: 5px solid red; */
}

.select-us-text {
    /* position: absolute;
   top: 70px; 
   min-width: 600px;
   width: 600px;
   left: 515px; */
   /* display: flex; */
   align-items: stretch;
   /* z-index: 2; */
   background-color: #fff;
   /* align-self: left; */
   background: #fff;
   box-shadow: 0 15px 30px 5px rgba(0,0,0,.1);
   flex: 0 1 auto;
   margin-left: 20px;
   margin-top: 20px;    
   /* max-width: 580px; */
   /* min-height: 315px; */
   padding: 40px 50px;
   /* width: 91.5237278445%; */

   font-weight: 400;
   font-size: 20px;
   line-height: 1.30;
   text-align: justify;
   /* outline: 3px solid rgb(67, 184, 219); */
}

@media screen and (min-width: 768px) {
    .select-us-text {
        /* position: absolute;
       top: 70px; 
       min-width: 600px;
       width: 600px;
       left: 515px; */
       /* display: flex; */
       align-items: stretch;
       z-index: 2;
       background-color: #fff;
       /* align-self: left; */
       background: #fff;
       box-shadow: 0 15px 30px 5px rgba(0,0,0,.1);
       flex: 0 1 auto;
       margin-left: 20px;
       margin-top: 40px;
       /* max-width: 580px; */
       /* min-height: 315px; */
       padding: 40px 50px;
       /* width: 91.5237278445%; */
    
       font-weight: 400;
       font-size: 20px;
       line-height: 1.30;
       text-align: justify;
       /* outline: 3px solid rgb(67, 184, 219); */
    }
}



.select-us-img {
    transform: scaleX(-1);
    margin-top: 40px;
}

@media screen and (min-width: 1440px) {
    .select-us-img {
        margin-top: 0px;
    }
}

.info-us {
    display: flex;
    flex-direction: column;
    /* text-align: justify; */
    align-items: center;
}

.info-text {
    /* display: flex; */
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.30;
    text-align: justify;
    margin-bottom: 15px;
    /* outline: 3px solid rgb(67, 184, 219); */
}


@media screen and (min-width: 768px) {
    .info-text {
        /* display: flex; */
        
        font-weight: 400;
        font-size: 20px;
        line-height: 1.30;
        text-align: justify;
        margin-bottom: 15px;
        /* outline: 3px solid rgb(67, 184, 219); */
    }
}