.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    /* background-color: red;
    color: var(--footer-text-color); */
}
