<!-- <section>
    <div>
        <h2>Чому варто вибрати  СітіПромБуд?</h2>
        <p>ТОВ «СітіПромБуд» — це будівельна компанія, що надає будівельні послуги щодо виготовлення швидко монтованих будівель та металоконструкцій на замовлення.
            Ми співпрацюємо з клієнтами та партнерами, враховуючи сьогоднішні та майбутні тенденції у будівництві.
            Ви можете розраховувати на те, що наші інноваційні рішення зроблять внесок у Ваше комфортне майбутнє.
            Ми можемо швидко та якісно виконувати замовлення будь-якого обсягу та складності. У нас ви можете замовити проектування, виготовлення, доставку та встановлення.
            </p>
        <img>
    </div>

</section> -->

<section class="section">
    <div class="subscribe">
        <div class="subscribe-text">
            <h2 class="favorites">Чому варто вибрати  СітіПромБуд?</h2>
            <p>ТОВ «СітіПромБуд» — це будівельна компанія, що надає будівельні послуги щодо виготовлення швидко монтованих будівель та металоконструкцій на замовлення.
                Ми співпрацюємо з клієнтами та партнерами, враховуючи сьогоднішні та майбутні тенденції у будівництві.
                Ви можете розраховувати на те, що наші інноваційні рішення зроблять внесок у Ваше комфортне майбутнє.
                Ми можемо швидко та якісно виконувати замовлення будь-якого обсягу та складності. У нас ви можете замовити проектування, виготовлення, доставку та встановлення.</p>
            <!-- <button class="third-btn" type="button">Subscribe</button> -->
        </div>
        <img src="../../img/selectus.jpg" alt="yellow construction helmet">
    </div>
</section>