<section class="container">
    <div class="info-us">
        <!-- <div class="select-us-div"> -->
                <h2 class="different-us-title"> Є ще питання про СітіПромБуд?</h2>
                <p class="info-text">Зв'яжіться з нами:</p>
                <p class="info-text">Телефон: +38-067-111-11-11</p>
                <p class="info-text">Електронна пошта: info@cityprombud.com</p>
                <p class="info-text">Час робот: с 9:00 до 18:00</p>
                <p class="info-text">Адреса: _______________</p>
    
        <!-- </div> -->
       
       
            
    </div>
</section>